@tailwind base;
@tailwind components;
@tailwind utilities;

/* this may not be the best way, but seems to work */
@import url(https://fonts.googleapis.com/css2?family=Roboto);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0);

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  color: #333333;
}
